body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f6f8;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a2540;
    padding: 15px 10%;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #00b4d8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #e9ecef;
}

/* SECTIONS */
.section {
    padding: 60px 10%;
    background: white;
}

.section.light {
    background: #f1f3f5;
}

h2 {
    color: #0a2540;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0a2540;
    color: white;
}

.profile-box{
  background: #ffffff;
  border-radius: 22px;
  padding: 18px;
  box-shadow: 0 18px 45px rgba(0,0,0,0.18);
}